[submodule "bayesian-yolov3"]
	path = bayesian-yolov3
	url = https://github.com/flkraus/bayesian-yolov3.git
[submodule "TrustworthinessScore"]
	path = TrustworthinessScore
	url = https://github.com/Abanoub-G/TrustworthinessScore.git
